@import "tailwindcss";
@plugin "daisyui" {
  themes: codewitch-forest --default;
  /* themes: forest --default; */
  /* I love lemonade but maybe a dark background is better for 3d scenes? */
}
@plugin "daisyui/theme" {
  name: "codewitch-forest";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #f1fdef;
  --color-base-200: #dbe6d9;
  --color-base-300: #c6cfc4;
  --color-base-content: #141614;
  --color-primary: #2b6352;
  --color-primary-content: #f1fdef;
  --color-secondary: #2b5863;
  --color-secondary-content: #f1fdef;
  --color-accent: #94e5d2;
  --color-accent-content: #19362d;
  --color-neutral: #19362d;
  --color-neutral-content: #94e5d2;
  --color-info: #b1d9e9;
  --color-info-content: #00445f;
  --color-success: #b2e4c5;
  --color-success-content: #004d18;
  --color-warning: #ffd2a3;
  --color-warning-content: #693600;
  --color-error: #ffbdbc;
  --color-error-content: #771210;
  --radius-selector: 2rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility text-balance {
  text-wrap: balance;
}

@utility w-page {
  @apply mx-auto w-full max-w-6xl px-4;
}

@utility text-subtle {
  @apply text-base-content/70;
}

@utility text-subtler {
  @apply text-base-content/50;
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@layer components {
  /* Some useful defaults */
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
}
